In [28]:
import os
import pandas as pd
import pm4py
from pm4py.algo.simulation.playout.petri_net import algorithm as playout_simulator
from pm4py.algo.discovery.alpha import algorithm as alpha_miner
from pm4py.objects.conversion.log.variants import to_data_frame

In [29]:
path = "running-example.xes"

In [30]:
if not os.path.exists(path):
    raise FileNotFoundError(f"File not found: {path}")

# Read the XES log
log = pm4py.read_xes(path)

# Basic counts
n_events = len(log)


print(f"Number of events: {n_events}")

parsing log, completed traces :: 100%|██████████| 6/6 [00:00<00:00, 2509.31it/s]

Number of events: 42

In [31]:
net, im, fm = alpha_miner.apply(log)

In [32]:
new_log = playout_simulator.apply(net, im, fm, parameters={"noTraces": 100, })

In [33]:
new_log

[{'attributes': {'concept:name': '0'}, 'events': [{'concept:name': 'register request', 'time:timestamp': datetime.datetime(1970, 4, 26, 18, 46, 40, tzinfo=datetime.timezone.utc)}, '..', {'concept:name': 'pay compensation', 'time:timestamp': datetime.datetime(1970, 4, 26, 18, 46, 44, tzinfo=datetime.timezone.utc)}]}, '....', {'attributes': {'concept:name': '99'}, 'events': [{'concept:name': 'register request', 'time:timestamp': datetime.datetime(1970, 4, 26, 18, 57, 59, tzinfo=datetime.timezone.utc)}, '..', {'concept:name': 'reject request', 'time:timestamp': datetime.datetime(1970, 4, 26, 18, 58, 3, tzinfo=datetime.timezone.utc)}]}]

In [38]:
new_log_df = to_data_frame.apply(new_log)

pm4py.write_xes(new_log , "simulated_log_100.xes")
new_log_df.to_csv("simulated_log_100.csv", index=False)

exporting log, completed traces :: 100%|██████████| 100/100 [00:00<00:00, 6964.27it/s]

In [35]:
new_log_df

         concept:name            time:timestamp case:concept:name
0    register request 1970-04-26 18:46:40+00:00                 0
1        check ticket 1970-04-26 18:46:41+00:00                 0
2    examine casually 1970-04-26 18:46:42+00:00                 0
3              decide 1970-04-26 18:46:43+00:00                 0
4    pay compensation 1970-04-26 18:46:44+00:00                 0
..                ...                       ...               ...
679  register request 1970-04-26 18:57:59+00:00                99
680      check ticket 1970-04-26 18:58:00+00:00                99
681  examine casually 1970-04-26 18:58:01+00:00                99
682            decide 1970-04-26 18:58:02+00:00                99
683    reject request 1970-04-26 18:58:03+00:00                99

[684 rows x 3 columns]

In [36]:
new_log_df.groupby('case:concept:name').agg(
    event_count = pd.NamedAgg(column='concept:name', aggfunc='count')
).mean()

event_count    6.84
dtype: float64

In [37]:
new_log_df[new_log_df['concept:name'] == "reject request"]

       concept:name            time:timestamp case:concept:name
27   reject request 1970-04-26 18:47:07+00:00                 3
32   reject request 1970-04-26 18:47:12+00:00                 4
54   reject request 1970-04-26 18:47:34+00:00                 6
67   reject request 1970-04-26 18:47:47+00:00                 7
77   reject request 1970-04-26 18:47:57+00:00                 9
82   reject request 1970-04-26 18:48:02+00:00                10
99   reject request 1970-04-26 18:48:19+00:00                11
114  reject request 1970-04-26 18:48:34+00:00                14
188  reject request 1970-04-26 18:49:48+00:00                20
193  reject request 1970-04-26 18:49:53+00:00                21
206  reject request 1970-04-26 18:50:06+00:00                22
216  reject request 1970-04-26 18:50:16+00:00                24
262  reject request 1970-04-26 18:51:02+00:00                30
272  reject request 1970-04-26 18:51:12+00:00                32
281  reject request 1970-04-26 18:51:21+00:00                33
286  reject request 1970-04-26 18:51:26+00:00                34
291  reject request 1970-04-26 18:51:31+00:00                35
310  reject request 1970-04-26 18:51:50+00:00                38
334  reject request 1970-04-26 18:52:14+00:00                42
367  reject request 1970-04-26 18:52:47+00:00                47
385  reject request 1970-04-26 18:53:05+00:00                49
390  reject request 1970-04-26 18:53:10+00:00                50
400  reject request 1970-04-26 18:53:20+00:00                52
405  reject request 1970-04-26 18:53:25+00:00                53
410  reject request 1970-04-26 18:53:30+00:00                54
415  reject request 1970-04-26 18:53:35+00:00                55
425  reject request 1970-04-26 18:53:45+00:00                57
439  reject request 1970-04-26 18:53:59+00:00                59
448  reject request 1970-04-26 18:54:08+00:00                60
453  reject request 1970-04-26 18:54:13+00:00                61
463  reject request 1970-04-26 18:54:23+00:00                63
478  reject request 1970-04-26 18:54:38+00:00                66
492  reject request 1970-04-26 18:54:52+00:00                68
502  reject request 1970-04-26 18:55:02+00:00                70
517  reject request 1970-04-26 18:55:17+00:00                73
522  reject request 1970-04-26 18:55:22+00:00                74
527  reject request 1970-04-26 18:55:27+00:00                75
532  reject request 1970-04-26 18:55:32+00:00                76
554  reject request 1970-04-26 18:55:54+00:00                78
563  reject request 1970-04-26 18:56:03+00:00                79
577  reject request 1970-04-26 18:56:17+00:00                81
587  reject request 1970-04-26 18:56:27+00:00                83
600  reject request 1970-04-26 18:56:40+00:00                84
644  reject request 1970-04-26 18:57:24+00:00                92
668  reject request 1970-04-26 18:57:48+00:00                96
683  reject request 1970-04-26 18:58:03+00:00                99